.navBar {
    padding-block: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navBar ul {
    display: flex;
    gap: 20px;
}

.navBar ul li {
    list-style: none;
}

.navBar ul li a {
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
}

.navBar ul li a:hover {
    background-color: var(--dark-blue);
    color: #f8f8f8;
}